<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pl.kozubek.measuringstation.app.station.mapper.MeasuringStationMapper">

    <resultMap id="MeasuringStationMap" type="pl.kozubek.measuringstation.app.station.model.MeasuringStation">
        <result column="id" property="id"/>
        <result column="station_name" property="stationName"/>
        <result column="gegr_lat" property="gegrLat"/>
        <result column="gegr_lon" property="gegrLon"/>
        <result column="city" property="city"/>
        <result column="address_street" property="addressStreet"/>
    </resultMap>

    <insert id="addMeasuringStation">
        INSERT INTO MEASURING_STATION (id, station_name, gegr_lat, gegr_lon, city, address_street)
        VALUES (#{MEASURING_STATION.id}, #{MEASURING_STATION.stationName}, #{MEASURING_STATION.gegrLat},
                #{MEASURING_STATION.gegrLon}, #{MEASURING_STATION.city}, #{MEASURING_STATION.addressStreet})
    </insert>

    <select id="getMeasuringStations" resultMap="MeasuringStationMap">
        SELECT id, station_name, gegr_lat, gegr_lon, city, address_street
        FROM MEASURING_STATION
    </select>

</mapper>
